<div class="container">

    <h3>Edit department</h3>

    <form [formGroup]="updateForm" (onSubmit)="submit()">
        <div fxLayout="column">
            <mat-form-field appearance="fill">
                <mat-label>{{"admin-panel.departments.table.mat-headers.name" | translate}}</mat-label>
                <input type="text" matInput formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>{{"admin-panel.departments.table.mat-headers.departmentNr" | translate}}</mat-label>
                <input type="text" matInput formControlName="departmentNr">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>{{"admin-panel.departments.table.mat-headers.customerRelation" | translate}}</mat-label>
                <mat-select formControlName="customerRelation">
                    <mat-option type="number" *ngFor="let item of relationList" [value]="item">
                        {{item | paymentRelationEnumConvert}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-button type="submit" (click)="submit()">{{"admin-panel.departments.actions.update" |
                translate}}</button>
        </div>


    </form>
</div>