<div class="container">

    <h3>Add a business</h3>

    <form [formGroup]="createForm" (onSubmit)="submit()">

        <div fxLayout="column">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input type="text" matInput formControlName="name">
                <mat-error *ngIf="createForm.hasError('name') && !createForm.hasError('required')">
                    Please enter a name
                </mat-error>
                <mat-error *ngIf="createForm.hasError('required')">
                    A name is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>CVRnr</mat-label>
                <input type="text" matInput formControlName="cvRnr">
                <mat-error *ngIf="createForm.hasError('CVRnr') && !createForm.hasError('required')">
                    Please enter a CVRnr
                </mat-error>
                <mat-error *ngIf="createForm.hasError('required')">
                    CVRnr is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Payment Relation</mat-label>
                <mat-select formControlName="customerRelation">
                    <mat-option type="number" *ngFor="let item of relationList" [value]="item">
                        {{item | paymentRelationEnumConvert}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-button type="submit" [disabled]="createForm.invalid" (click)="submit()">Add</button>
        </div>

    </form>
</div>