<div class="container">

    <h3>Add a business</h3>

    <form [formGroup]="createForm" (onSubmit)="submit()">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name">
            <mat-error *ngIf="createForm.hasError('name') && !createForm.hasError('required')">
                Please enter a name
            </mat-error>
            <mat-error *ngIf="createForm.hasError('required')">
                A name is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>CVRnr</mat-label>
            <input type="number" matInput formControlName="CVRnr">
            <mat-error *ngIf="createForm.hasError('CVRnr') && !createForm.hasError('required')">
                Please enter a CVRnr
            </mat-error>
            <mat-error *ngIf="createForm.hasError('required')">
                CVRnr is required
            </mat-error>
        </mat-form-field>


        <button mat-button type="submit" (click)="submit()">Add</button>
    </form>
</div>