<div class="container">

    <h3>{{"admin-panel.business.createHeader" | translate}}</h3>

    <form [formGroup]="createForm" (onSubmit)="submit()">

        <div fxLayout="column">
            <mat-form-field appearance="fill">
                <mat-label>{{"admin-panel.business.table.mat-headers.name" | translate}}</mat-label>
                <input type="text" matInput formControlName="name">
                <mat-error *ngIf="createForm.hasError('name') && !createForm.hasError('required')">
                    Please enter a name
                </mat-error>
                <mat-error *ngIf="createForm.hasError('required')">
                    A name is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>{{"admin-panel.business.table.mat-headers.cvrNr" | translate}}</mat-label>
                <input type="text" matInput formControlName="cvRnr">
                <mat-error *ngIf="createForm.hasError('CVRnr') && !createForm.hasError('required')">
                    Please enter a CVRnr
                </mat-error>
                <mat-error *ngIf="createForm.hasError('required')">
                    CVRnr is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>{{"admin-panel.business.table.mat-headers.customerRelation" | translate}}</mat-label>
                <mat-select formControlName="customerRelation">
                    <mat-option type="number" *ngFor="let item of relationList" [value]="item">
                        {{item | paymentRelationEnumConvert}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-button type="submit" [disabled]="createForm.invalid"
                (click)="submit()">{{"admin-panel.business.actions.add" | translate}}</button>
            <button mat-button (click)="addTestData()">Add test data</button>
        </div>

    </form>
</div>