<div class="container">
    <section class="table">
        <div class="actions" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field appearance="fill" style="width: 40%;">
                <mat-label><mat-icon>search</mat-icon> {{"admin-panel.departments.search.label" |
                    translate}}</mat-label>
                <input matInput (keyup)="applySearchFilter($event)"
                    placeholder="{{ 'admin-panel.departments.search.placeholder' | translate}}" #input>
            </mat-form-field>


            <a mat-button (click)=" openCreateDialog()"><mat-icon>add</mat-icon>
                {{"admin-panel.departments.actions.create" | translate}}</a>
        </div>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> {{"admin-panel.departments.table.mat-headers.name" | translate}}
                </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="departmentNr">
                <th mat-header-cell *matHeaderCellDef> {{"admin-panel.departments.table.mat-headers.departmentNr" |
                    translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.departmentNr}} </td>
            </ng-container>

            <ng-container matColumnDef="customerRelation">
                <th mat-header-cell *matHeaderCellDef>{{"admin-panel.departments.table.mat-headers.customerRelation" |
                    translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element._CustomerRelation |
                    paymentRelationEnumConvert}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button button mat-button color="warn" (click)="delete(element.id)"><mat-icon>delete</mat-icon>
                        {{"admin-panel.departments.table.buttons.delete" | translate}}</button>
                    <button button mat-button (click)="openUpdateDialog(element)"><mat-icon>settings</mat-icon>
                        {{"admin-panel.departments.table.buttons.edit" | translate}}</button>
                    <button button mat-button color="primary"
                        (click)="openViewDialog(element)"><mat-icon>description</mat-icon>
                        {{"admin-panel.departments.table.buttons.view" | translate}}</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">{{"admin-panel.departments.search.searchNoResult" | translate}}
                    "{{input.value}}"</td>
            </tr>
        </table>
        <mat-paginator #paginator [length]="departments.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page">
        </mat-paginator>
        <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white;">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </div>
    </section>
</div>