<div class="view-container" *ngIf="department" style="white-space: pre">
    <h1>Samlede informationer om "{{department.name}}"</h1>
    <section>
        <div class="view-container" fxLayout="row" fxLayoutAlign="space-between center">
            <ng-container>
                <mat-label>
                    <h3>{{"admin-panel.departments.table.view-table.labels.name" | translate}} </h3>
                </mat-label>
                <mat-label>
                    <h3>{{department.name}}</h3>
                </mat-label>
            </ng-container>
        </div>
        <div class="view-container" fxLayout="row" fxLayoutAlign="space-between center">
            <ng-container>
                <mat-label>
                    <h3>{{"admin-panel.departments.table.view-table.labels.departmentNr" | translate}} </h3>
                </mat-label>
                <mat-label>
                    <h3>{{department.departmentNr}}</h3>
                </mat-label>
            </ng-container>
        </div>
        <div class="view-container" fxLayout="row" fxLayoutAlign="space-between center">
            <ng-container>
                <mat-label>
                    <h3>{{"admin-panel.departments.table.view-table.labels.customerRelation" | translate}} </h3>
                </mat-label>
                <mat-label>
                    <h3>{{department._CustomerRelation | paymentRelationEnumConvert}}</h3>
                </mat-label>
            </ng-container>
        </div>
        <div class="view-container" fxLayout="row" fxLayoutAlign="space-between center">
            <ng-container>
                <mat-label>
                    <h3>{{"admin-panel.departments.table.view-table.labels.creationDate" | translate}} </h3>
                </mat-label>
                <mat-label>
                    <h3>{{department.createdDate | date:"dd/MM/YYYY "}}</h3>
                </mat-label>
            </ng-container>
        </div>
    </section>

    <div class="view-expansion">
        <mat-accordion>
            <mat-expansion-panel (opened)="showHistoryPanelClicked = true" (closed)="showHistoryPanelClicked = false"
                (click)="showHistory()">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{"admin-panel.departments.table.view-table.buttons.history" | translate}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{showHistoryPanelClicked ? 'Skjul' : 'Vis'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="table">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 view-table">
                        <ng-container matColumnDef="time">
                            <th mat-header-cell *matHeaderCellDef>
                                {{"admin-panel.departments.table.view-table.mat-headers.time" | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{element?.changes?.UpdatedDate | date:"dd/MM/YYYY
                                hh:mm"}} </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>
                                {{"admin-panel.departments.table.view-table.mat-headers.action" | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{element?.action | actionTranslation}} </td>
                        </ng-container>
                        <ng-container matColumnDef="departmentNr">
                            <th mat-header-cell *matHeaderCellDef>
                                {{"admin-panel.departments.table.view-table.mat-headers.departmentNr" | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element?.changes?.DepartmentNr}} </td>
                        </ng-container>
                        <ng-container matColumnDef="customerRelation">
                            <th mat-header-cell *matHeaderCellDef>
                                {{"admin-panel.departments.table.view-table.mat-headers.customerRelation" | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element?.changes?._CustomerRelation |
                                paymentRelationEnumConvert}} </td>
                        </ng-container>
                        <ng-container matColumnDef="actor">
                            <th mat-header-cell *matHeaderCellDef>
                                {{"admin-panel.departments.table.view-table.mat-headers.actor" | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{element?.actor}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <div *ngIf="isLoading"
                    style="display: flex; justify-content: center; align-items: center; background: white;">
                    <mat-progress-spinner color="primary" mode="indeterminate">
                    </mat-progress-spinner>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<div class="view-button" fxLayout="row" fxLayoutAlign="end">
    <button mat-button (click)="close()">{{"admin-panel.departments.table.view-table.buttons.back" |
        translate}}</button>
</div>