<mat-toolbar class="header-element" color="primary">
    <mat-toolbar-row class="header-row">
        <h1>Hovedopgave</h1>
        <span class="menu-spacer"></span>
        <div class="header">
            <a mat-button [routerLink]="'/'"> Home </a>
            <div class="userInfo">
                <ng-container *ngIf="!isUserLoggedIn">
                    <button mat-button [matMenuTriggerFor]="menu">Login</button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="login();">Login</button>
                        <button mat-menu-item>Item 2</button>
                    </mat-menu>
                </ng-container>
                <ng-container *ngIf="isUserLoggedIn">
                    <button mat-button [matMenuTriggerFor]="user">{{accountInfo?.name}}</button>
                    <mat-menu #user="matMenu">
                        <a button mat-menu-item [routerLink]="'/admin-panel'">Admin Panel</a>
                        <button button mat-menu-item (click)="openUserProfileDialog(accountInfo)">User Profile</button>
                        <button mat-menu-item (click)="logout()">Logout</button>
                    </mat-menu>
                </ng-container>
            </div>

        </div>
    </mat-toolbar-row>
</mat-toolbar>