<div class="view-container" *ngIf="business" style="white-space: pre">
    <h1>Samlede informationer om "{{business.name}}"</h1>
    <section>
        <div class="view-container" fxLayout="row" fxLayoutAlign="space-between center">
            <ng-container>
                <mat-label>
                    <h3>Navn: </h3>
                </mat-label>
                <mat-label>
                    <h3>{{business.name}}</h3>
                </mat-label>
            </ng-container>
        </div>
        <div class="view-container" fxLayout="row" fxLayoutAlign="space-between center">
            <ng-container>
                <mat-label>
                    <h3>CVR nr: </h3>
                </mat-label>
                <mat-label>
                    <h3>{{business.cvRnr}}</h3>
                </mat-label>
            </ng-container>
        </div>
        <div class="view-container" fxLayout="row" fxLayoutAlign="space-between center">
            <ng-container>
                <mat-label>
                    <h3>Betalingsegenskab:</h3>
                </mat-label>
                <mat-label>
                    <h3>{{business._CustomerRelation | paymentRelationEnumConvert}}</h3>
                </mat-label>
            </ng-container>
        </div>
        <div class="view-container" fxLayout="row" fxLayoutAlign="space-between center">
            <ng-container>
                <mat-label>
                    <h3>Oprettelsesdato: </h3>
                </mat-label>
                <mat-label>
                    <h3>{{business.createdDate | date:"dd/MM/YYYY "}}</h3>
                </mat-label>
            </ng-container>
        </div>
    </section>

    <div class="view-expansion">
        <mat-accordion>
            <mat-expansion-panel (opened)="showHistoryPanelClicked = true" (closed)="showHistoryPanelClicked = false"
                (click)="showHistory()">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Historik
                    </mat-panel-title>
                    <mat-panel-description>
                        {{showHistoryPanelClicked ? 'Skjul' : 'Vis'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="table">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 view-table">
                        <ng-container matColumnDef="time">
                            <th mat-header-cell *matHeaderCellDef> Time </th>
                            <td mat-cell *matCellDef="let element"> {{element?.changes?.UpdatedDate | date:"dd/MM/YYYY
                                hh:mm"}} </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element"> {{element?.action | actionTranslation}} </td>
                        </ng-container>
                        <ng-container matColumnDef="cvrNr">
                            <th mat-header-cell *matHeaderCellDef> CVR Nr </th>
                            <td mat-cell *matCellDef="let element"> {{element?.changes?.CVRnr}} </td>
                        </ng-container>
                        <ng-container matColumnDef="customerRelation">
                            <th mat-header-cell *matHeaderCellDef> Customer Relation </th>
                            <td mat-cell *matCellDef="let element"> {{element?.changes?._CustomerRelation |
                                paymentRelationEnumConvert}} </td>
                        </ng-container>
                        <ng-container matColumnDef="actor">
                            <th mat-header-cell *matHeaderCellDef> Actor </th>
                            <td mat-cell *matCellDef="let element"> {{element?.actor}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<div class="view-button" fxLayout="row" fxLayoutAlign="end">
    <button mat-button (click)="close()">Back</button>
</div>